.Product{
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    height:600px;
    &__img{
        max-width:100%;
        border-radius: 10px;
        max-height: 100%;
        height: 20rem;
        width: 30rem;
    }
    &__details-sidebar{
        display: flex;
        margin: 1rem;
        flex-direction: column;
    }
    &__price{
        font-weight: bolder;
    }
}

.Validation{
    @include btn;
    border-radius: 30px;
    display: flex !important;
    justify-items:center; 

}

.qty-field{
   @include select;
}

.space{
    margin: 0.5rem;
    display: block;
}
